<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>hello world!</title>
    </head>
    <body>
    <h1>data</h1>
    {{$name := .Fname}}
    {{$id := .ID}}
    <p>{{$name}} : {{$id}}</p>
    </body>
</html>