<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>hello world!</title>
    </head>
    <body>
    <h1>alphabets</h1>
    <ul>
        {{range $key, $val := .}}
        <li>{{$key}} : {{$val}}
        {{end}}
    </ul>
    </body>
</html>